<h1><%= @user.name %>'s profile</h1>
<p><%= @user.name %></p>
<p><%= @user.email %></p>

<div class="story">
  <%= link_to_if this_user_is_logged_in?, 
        "Edit story", edit_user_story_path(@user), 
        :id => "edit-story" %>
      <p><%= @user.story.body %></p>
</div>
